[Unit]
Description=MyAnimeList & Anilist Discord Bot
After=network.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/opt/MyAnimeBot/
ExecStart=/usr/local/bin/python3.7 /opt/MyAnimeBot/myanimebot.py
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure

User=mab
Group=mab

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mab

[Install]
WantedBy=multi-user.target
